.footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:102vw;
    height: 100px;
    background-color: rgb(211, 212, 213);
}
 
#copyright-info {
    font: 600 18px 'Courier New', Courier, monospace;
}