@import "./navbar-mobile.css";
@import"./content-mobile.css";
@import "./bottom-panel-mobile.css";


.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nv nv"
        "main main"
        "bt bt";
    background-color: rgb(247, 251, 242);
    width: 100vw;
    height: 1000px;
}