@import "./navbar.css";
@import "./bottom-panel.css";


.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
        "nv nv"
        "main main"
        "bt bt";
    background-color: rgb(247, 251, 242);
    width: 105vw;
    height: max-content;
}

.content-container {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 800px;
    margin: 0 0 0 300px;
    font: 23px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    border-radius: 20px;
    background-color: rgb(239, 244, 244);
  
}

.content:hover {
      background-color: white;
}


.content > a {
    margin: 0 0 100px 300px;
    font-size: large;
}

.intro {
    width: inherit;
    height: fit-content;
}

.image {
    width: inherit;
    height: fit-content;
}

#bhujangasana {
    background-image: url("../../assets/images/cobra-pose.jpg");
    width: 700px;
    height: 500px;
}

.content-title {
    font : 32px Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin : 0 0 0 90px;
    text-decoration: underline;
    color: brown;
}

.sub-titles {
    text-decoration: underline;
    padding: 10px;
}

#dhanurasana {
    background-image: url("../../assets/images/dhanurasana-blog-page.jpg");
    width: 700px;
    height: 500px;
}

#chakrasana {
    background-image: url("../../assets/images/chakrasana-blog-page.jpg");
    width: 700px;
    height: 500px;
}

.about-author {
    color: blue;
    margin: 0 0 0 400px;
}

.author-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    width: 150px;
    margin: 0 0 0 40px;
    background-color: rgb(239, 244, 244);
    border-radius: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: rgb(209, 220, 220);
    width: 150px;
    border-radius: 20px;
}

.share {
    text-decoration: underline;
}

.share {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.share > * {
    padding: 10px;
}

#fb {
    grid-area: fb;
}

#insta {
    grid-area: insta;
}

#whatsapp {
    grid-area: whatsapp;
}

