.content {
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.card1 {
    width: 500px;
    height: 700px;
    background-color: brown;
}

.card2 {
    width: 500px;
    height: 700px;
    background-color: rgb(165, 42, 112);
}