@import "./navbar.css";
@import "./content.css";
@import "./bottom-panel.css";
@import "./index-mobile.css" (min-width: 300px) and (max-width: 480px) ;

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas:
        "nv nv"
        "main main"
        "bt bt";
    background-color: rgb(247, 251, 242);
    width: 105vw;
    height: 1000px;
}