@import "./navbar.css";
@import "./content.css";
@import "./bottom-panel.css";

.container {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "nv nv"
        "main main"
        "ft ft";
}