@import "./navbar.css";
@import "./content.css";
@import "./bottom-panel.css";

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:
        "nv nv"
        "main main";
    background-color: rgb(247, 251, 242);
    width: 105vw;
    height: 900px;
}